extends layout

block content
  h1= TPC4
  p 
    a(href=`/elementos/${element}/${group}/${period}`) Lista de Elementos

  p 
    a(href=`/grupos/${element}/${group}/${period}`) Lista de Grupos

  p 
    a(href=`/periodos/${element}/${group}/${period}`) Lista de Períodos
